.Additional{
     
    display: flex;
    justify-content:center;
}
.container{
     
    background-color: rgb(0,158,198);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    text-align: center;
    align-items: center;   
}
@media (max-width: 780px){
    .Additional{
        flex-wrap: wrap;

    }

}
.link{
    background-color: rgb(20,107,173);
    color: #ffff !important;
    border-radius: 30px;
    font-size: bold;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}