img{
    width: 100%;
}
.handtherapy {
  position: relative;
  margin-top: 70px;
}
.patient {
  position: absolute;
  top: 40px;
  left: 10px;
  color:  #146BAD;
  font-size: 12%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  background-color: #eaeaee;
}

.Lets {
  text-align: center;
  margin: 30px;
  color: #146bad;
}
 
.billing h2 {
    font-size: 20px !important;
}
.billing {
  text-justify: distribute;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 320px;
  margin-top: 15px;
}
.billing p {
  font-size: 13px;
  line-height: 1.4;
}
.pay a {
  /* text-decoration: none; */
}
h5 {
  font-weight: 500;
}
