body {
  margin: 0;
 font-family: NeueHaasDisplayRoman, Helvetica, Arial, sans-serif;
padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
